.browse-container {
    padding:20px;
    padding-left:40px;
    padding-right:40px;
    width:85vw;
    background-color: var(--main-bg-color);
    margin-bottom:0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.browse-post {
    margin:10px;
    padding:12px;
    background-color:white;
    border-radius:10px;
}

.browse-square {
    margin:10px;
    padding:12px;
    background-color:white;
    border-radius:10px;
    background-color:var(--container-color);
    width:20vw;
    height:20vw;
    float:left;
    box-shadow: 3px 3px 3px var(--shadow-color);
}

.browse-square:hover {
    background-color:var(--button-hover-color);
    box-shadow: 3px 3px 3px #c4e9f7;
    transition:0.5s;
}

.browse-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.browse-input {
    margin-left:10px;
}

.browse-post-date {
    text-align:right;
}

.view-details-button {
    margin-top:10px;
    margin-right:20px;
}

.browse-description {
    overflow:hidden;
    margin-right:15px;
}

.browse-fix-spacing {
    white-space: pre;
}

.display-event-hr {
    margin-top:5px;
    border-top: solid 2px lightgray;

}