.browse-container {
    padding:20px;
    padding-left:40px;
    padding-right:40px;
    width:85vw;
    background-color: var(--main-bg-color);
    margin-bottom:0px;
}

.browse-post {
    margin:10px;
    margin-bottom:0px;
    padding:10px;
}

.browse-input {
    margin-left:10px;
}