.browse-container {
    padding:20px;
    padding-left:40px;
    padding-right:40px;
    width:85vw;
    background-color: var(--main-bg-color);
    margin-bottom:0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.browse-post {
    margin:10px;
    padding:12px;
    background-color:white;
    border-radius:10px;
}

.browse-input {
    margin-left:10px;
}

.browse-post-date {
    text-align:right;
    margin-right:40px;
}

.view-details-button {
    margin-right:20px;
}

.browse-description {
    overflow:hidden;
}

.browse-test {
    white-space: pre;
}