.home-container {
    background-color: var(--main-bg-color);
    min-height:100%;
    padding-top:20px;
}

.home-title {
    font-size:45px;
    padding-bottom:10px;
    text-align:center;
    color: var(--secondary-color)
}

.home-body {
    height:80vh;
    margin:auto;
    padding:20px;
    width:75vw;
    background-color:white;
    border-radius:10px;
}

.home-subtitle {
    font-size:18px;
    padding:2px;
}