.mw-300 {
    min-width: 300px !important;
}

.mw-340 {
    min-width: 340px !important;
}

.input-group-addon {
    text-align: left !important;
    font-family: Arial;
    margin: 8px;
}

.signup-form {
    margin: 5px 5px 5px 50px;
}

.ast {
    position: relative;
}

.qt {
    position: relative;
    margin: 0px 0px 0px 0px;
    top: 10px;
    right: -10px;
}

input[type="text"][disabled] {
    color: #d3d3d3;
}

.registerButton {
    border-radius: 5px;
    border: 2px solid rgba(220, 228, 236, 0.9);
    height: 40px;
    width: 20%;
    font-family: Tahoma;
    margin: 0px 90px 20px 90px;
    background: rgba(220, 228, 236, 1);
}

.registerButton:hover{
    background: #ECF0F1;
}