.event-container {
    padding:40px;
    text-align: left;
    background-color: var(--main-bg-color);
    height:100%;
}

.event-details-container {
    margin:10px;
    padding:12px;
    background-color:white;
    border-radius:10px;
    width:80vw;
}

.event-description {
    margin-right:15px;
    overflow:hidden;
}

.event-fix-spacing {
    white-space: pre;
}

.event-file-upload {
    margin-left:10px;
}

.event-hr {
    margin-top:5px;
    border-top: solid 2px lightgray;
}