.chatmsg {
    margin: 0px;
    text-align: left;
}

.chat-container {
    flex: 4;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background-color:white;
}

.chat-flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.chat-options-container {
    background-color: var(--success);
    color:white;
    padding:10px;
    flex: 1;
}

.error {
    color: red;
}

.message-container {
    flex: 1;
    overflow-y: scroll;
    text-align: left;
    padding-left:5px;
}

.message-input-form {
    bottom: 0;
    display: flex;
}

.message-input-box {
    width: 100%;
    margin:0px;
}

.chat-button {
    background-color:white !important;
    border-color:white !important;
    color:black !important;
    margin-bottom:10px;
}

.chat-button:hover {
    background-color:var(--button-hover-color)!important;
    border-color:var(--button-hover-color) !important;
}