.chatmsg {
    margin: 0px;
}

.chat-container {
    background-color: lightgrey;
    flex: 4;
}

.chat-options-container {
    background-color: grey;
    flex: 1
}

.error {
    color: red;
}

.message-input-form {
    position: fixed;   
    bottom: 0;
    width: 100%;
}