#footer {
    /* position: absolute; */
    width: 100%;
    height: 50px;
    bottom: 0;
    text-align: center;
    background-color: var(--success);
    color: white;
    /* flex: 1; */
}

#footer #footer-inner {
    display: inline-block;
}

#footer #footer-inner td {
    padding: 15px 20px 5px 20px;
}
