.header-container {
    background-color: #444444;
	height: 70px;
}

.header-title {
    font-weight:100;
}

.small-icon {
    width: 40px;
    margin-right: 10px;
}

#navbar-brand {
    padding: 10px;
}

#navbar-brand:hover {
    background-color: #1f9651;
    border:solid var(--secondary-color) 1px;
    color: var(--secondary-color) !important;
    transition:1s;
}

#logoutButton {
	margin: 10px;
    border: none;
    padding: 5px 12px;
    text-align: center;
    color: white;
    font-size: 15px;
}

#logoutButton:hover {
    background-color: #deebfc;
}

#logoutButton:focus {outline:0;}