.header-container {
    /* background-color: #444444; */
    height: 70px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: var(--success);
}

.header-username {
    margin-right:15px;
    color:white;
    position:relative;
    top:5px;
}

.header-login {
    margin-right:15px;
}

.header-button {
    background-color:white !important;
    border-color:white !important;
    color:black !important;
}

.header-notification {
    margin-right:15px;
}

.notification-button-group {
    margin:2px;
}

.notification-button {
    width:150px;
}

.notification-message {
    text-align:center;
}

.header-text {
    color:white !important;
    font-weight:100;
}

.small-icon {
    width: 40px;
    margin-right: 10px;
}

#navbar-brand {
    padding: 10px;
}

#navbar-brand:hover {
    background-color: #1f9651;
    border:solid white 1px;
    transition:1s;
}

#logoutButton {
	margin: 10px;
    border: none;
    padding: 5px 12px;
    text-align: center;
    color: white;
    font-size: 15px;
}

#logoutButton:hover {
    background-color: #deebfc;
}

#logoutButton:focus {outline:0;}