.sidebar {
    background-color:#F0F0F0;
    text-align: center;
    height: 100%;
    flex: 6; 
}

.tabs { 
    text-align: center;
    height: 20px;
    background-color:#ffffff;
}

.tabText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.userText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.tabs:hover {
    background-color: lightblue;
}