.sidebar {
    background-color: #fafafa;
    text-align: center;
    width: 200px;
    border-right: grey 2px solid;
    min-width: 150px;
}

.tabs { 
    text-align: center;
    height: 20px;
    background-color: lightgray;
    border: gray;
}

.tabText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.userText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.tabs:hover {
    background-color: lightblue;
}