.sidebar {
    background-color: white;
    text-align: center;
    width: 200px;
    min-width: 150px;
    height: auto;
}

.sidebar-title {
   position:relative;
   top:3px;
}

.tabs { 
    text-align: center;
    background-color: white;
    padding:5px;
    font-size:15px;
}

.tabText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.userText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.tabs:hover {
    background-color: var(--success);
    color:white;
}